### ETL Project

In [2]:
import os
import csv
import pandas as pd

In [12]:
Total_final_renewable_energy_consumption_df = pd.read_csv('Total_Final_Renewable_energy_consumption_clean.csv')
Total_final_renewable_energy_consumption_df.columns.values[0] = "Country Name"
Total_final_renewable_energy_consumption_df.head()

,Country Name,Product,Flow,NoProduct,NoFlow,1990,1991,1992,1993,1994,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Australia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),56656,56215,56737,58833,60166,...,72860,74995,76128,75236,76310,78793,79943,81111,81246,80870
1,Austria,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),19767,21259,20712,20969,20400,...,27531,26917,26959,26345,27566,26568,26832,27473,26411,27011
2,Belgium,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),32223,34113,34501,34090,37122,...,41218,40209,42506,39437,42276,39269,39693,41751,39890,41084
3,Canada,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),158461,157299,160191,164201,170262,...,190742,196365,191882,183738,187321,194204,193982,196541,198022,197358
4,Chile,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),11099,11800,13115,13436,14275,...,22902,22885,22586,22526,23860,25075,24965,26600,24912,25011

In [6]:
Renewable_energy_consumption_clean_df = pd.read_csv('Renewable_energy_consumption_clean.csv')
Renewable_energy_consumption_clean_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,0.268747,0.234955,0.238778,0.195134,0.183241,0.173372,...,0.189937,0.190059,0.193546,0.299774,5.464716,5.661788,6.855850,6.889753,6.927502,6.726748
1,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,15.924532,17.036444,26.521629,30.585667,32.796251,35.075640,...,37.137249,33.862579,21.343708,17.813855,14.839806,11.482706,13.973586,16.334293,19.314269,18.423477
2,Angola,AGO,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,72.255252,71.888639,72.723283,71.277056,72.220269,73.945888,...,65.022564,61.599704,58.107975,55.748977,54.193837,52.715679,52.245736,50.686116,50.797461,49.568210
3,Albania,ALB,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,25.518088,32.998174,46.813329,51.152042,51.459544,50.609710,...,31.710195,32.100937,35.912906,37.216638,37.115330,35.962532,40.048300,41.288974,38.689501,38.615210
4,Andorra,AND,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,14.273550,14.273550,14.308754,13.918955,14.561024,14.481048,...,17.485994,16.940777,17.422741,17.515948,19.090730,18.971546,19.195529,19.563698,19.886323,19.747809

In [8]:
GDP_df = pd.read_csv('GDP_clean.csv')
GDP_df.head()

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),7.648871e+08,8.721387e+08,9.584632e+08,1.082980e+09,1.245688e+09,1.320475e+09,1.379961e+09,...,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09
1,Afghanistan,AFG,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.971286e+09,9.747880e+09,1.010923e+10,1.243909e+10,1.585657e+10,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10
2,Angola,AGO,GDP (current US$),1.122876e+10,1.060378e+10,8.307811e+09,5.768720e+09,4.438321e+09,5.538749e+09,7.526447e+09,...,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11
3,Albania,ALB,GDP (current US$),2.028554e+09,1.099559e+09,6.521750e+08,1.185315e+09,1.880952e+09,2.392765e+09,3.199643e+09,...,8.896074e+09,1.067732e+10,1.288135e+10,1.204422e+10,1.192693e+10,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10
4,Andorra,AND,GDP (current US$),1.029048e+09,1.106929e+09,1.210014e+09,1.007026e+09,1.017549e+09,1.178739e+09,1.223945e+09,...,3.456442e+09,3.952601e+09,4.085631e+09,3.674410e+09,3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09

In [13]:
# Merge two dataframes using an inner join
merge_df = pd.merge(Total_final_renewable_energy_consumption_df, Renewable_energy_consumption_clean_df, on="Country Name")
merge_df

,Country Name,Product,Flow,NoProduct,NoFlow,1990_x,1991_x,1992_x,1993_x,1994_x,...,2006_y,2007_y,2008_y,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y
0,Australia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),56656,56215,56737,58833,60166,...,6.853267,6.951586,6.789569,7.112827,8.109027,8.256181,8.247109,9.088482,9.278198,9.180503
1,Austria,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),19767,21259,20712,20969,20400,...,26.254263,28.600932,29.356166,30.514389,30.659217,30.988594,33.426537,34.680600,35.394273,34.394992
2,Belgium,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),32223,34113,34501,34090,37122,...,2.826624,3.329081,3.911750,4.833459,5.837391,6.632065,7.758729,8.129435,9.073995,9.201641
3,Canada,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),158461,157299,160191,164201,170262,...,22.088749,22.126192,22.525314,22.701257,22.080989,21.965419,22.610258,22.379680,22.024652,22.025359
4,Chile,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),11099,11800,13115,13436,14275,...,32.907143,30.463107,30.827461,31.525458,27.042741,28.790088,30.302734,30.177238,26.717099,24.882554
5,Czech Republic,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),32980,29277,29067,28205,26897,...,7.858288,8.292580,8.955101,10.214162,10.917720,12.120603,12.762816,13.923719,14.830742,14.828562
6,Denmark,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),13174,13963,13758,14247,14220,...,15.267124,17.700928,18.549255,19.342764,21.354836,23.898967,27.281957,27.342839,30.271631,33.170277
7,Estonia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),5671,5348,3536,2992,3004,...,17.163079,18.565252,20.188995,24.088769,25.129892,24.983542,24.908559,24.475245,25.326059,27.476833
8,Finland,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),22322,22140,22168,22076,23229,...,31.243293,31.792948,34.731027,32.598732,33.582064,35.257980,38.802667,38.479706,41.235241,43.235263
9,France,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),141658,151994,152982,149564,148081,...,8.460113,9.321328,10.473230,11.222006,11.845873,10.913690,12.372959,13.477374,13.347025,13.499262
10,Germany,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),240788,237960,232023,232452,229528,...,7.753225,9.406588,8.592248,9.630062,10.293520,11.394356,12.015136,12.089079,13.378878,14.206253
11,Greece,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),14494,14808,14801,14748,14859,...,8.211680,7.918629,8.109959,8.920029,11.092983,11.088316,13.859378,16.293818,16.085793,17.170048
12,Hungary,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),20688,19449,17087,17022,17073,...,5.364129,6.140333,6.755189,8.399155,13.456029,14.742992,16.465205,17.196389,15.674550,15.559362
13,Iceland,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),1358,1340,1378,1410,1455,...,64.015846,66.751598,73.461570,74.123878,75.419692,76.450854,77.344681,76.219496,76.338871,77.029689
14,Ireland,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),7552,7700,7615,7676,8027,...,3.203653,3.556367,4.153371,5.246756,5.273538,6.709365,6.618549,7.404767,8.520670,9.081399
15,Israel,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),6967,7152,7259,8240,8872,...,6.824703,6.650404,8.822179,8.417052,8.503355,9.021751,2.686303,3.319187,3.680132,3.707767
16,Italy,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),114946,117428,117394,117076,115621,...,7.512564,8.731730,10.823349,12.539753,12.794093,11.904940,14.391649,16.320885,17.090359,16.516851
17,Japan,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),292305,297637,300655,303926,313796,...,4.029364,3.752732,3.983867,4.035614,4.585530,4.693602,4.533085,4.912152,5.625026,6.297357
18,Latvia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),6419,6201,5159,4484,4074,...,33.998964,33.075386,33.704936,38.394141,33.064000,35.533922,40.365625,39.603038,40.236062,38.098017
19,Lithuania,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),10408,11034,6764,5088,5073,...,17.462428,17.062131,18.333832,20.086483,21.457652,22.738273,23.922583,26.342513,27.705052,28.961179
20,Luxembourg,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),2778,2997,3030,3101,3036,...,2.092270,3.635015,3.966352,3.737162,3.659683,3.733296,4.147857,5.723199,6.883232,9.031314
21,Mexico,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),83324,86125,86294,86368,90342,...,9.824107,9.456580,9.769618,9.168405,9.359978,9.066472,8.964824,9.231363,9.758462,9.215213
22,Netherlands,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),53854,55878,55180,56300,56592,...,3.151838,3.721634,3.973985,4.410132,3.873163,4.696714,4.962299,5.024976,5.659628,5.889463
23,New Zealand,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),9764,9891,10032,10326,10914,...,29.379048,29.124631,28.159526,30.225032,31.322692,32.128191,30.474842,30.005873,30.322637,30.789176
24,Norway,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),17434,17226,17031,17517,17907,...,57.059690,57.390066,58.493733,56.770925,56.424556,56.529329,58.275850,57.725950,57.196402,57.772002
25,Poland,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),61438,61724,60317,64911,62852,...,7.183965,7.275765,8.010540,8.842063,9.488624,10.437879,10.915143,11.413380,11.569316,11.911488
26,Portugal,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),13394,13510,14010,14030,14728,...,22.331751,23.148136,23.189169,24.894543,27.827978,27.219103,25.517441,30.172055,30.457008,27.157298
27,Slovak Republic,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),15752,13365,12413,11159,10818,...,6.567616,8.232177,7.629430,9.999142,10.279736,10.357567,10.472585,10.678382,12.242752,13.409168
28,Slovenia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),3693,3706,3395,3651,3879,...,14.414372,14.089977,13.852495,19.028365,19.504754,18.586433,19.704626,22.005633,22.300487,20.877396
29,Spain,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),60635,63166,63876,62364,65715,...,8.472207,9.005388,9.737203,12.217947,14.395786,14.745927,15.770950,16.949966,17.351736,16.254098
30,Sweden,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),32117,32173,34093,34122,35006,...,41.126588,42.924655,44.865588,47.077364,45.977806,46.487030,49.948549,48.825222,49.693415,53.247770
31,Switzerland,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),18244,19180,19204,18566,18131,...,18.656811,19.930052,20.242020,20.753873,21.460364,21.557033,22.958503,22.992520,23.418147,25.291984
32,Turkey,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),40391,41131,42413,45718,43403,...,14.245486,12.484598,12.415498,13.328381,14.326496,12.780613,12.831685,13.847545,11.607888,13.374230
33,United Kingdom,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),138167,143942,141921,144063,144355,...,1.553920,1.839651,2.782792,3.383032,3.638918,4.401119,4.751258,6.015781,7.395220,8.711686
34,United States,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),1293556,1295124,1302817,1325519,1357150,...,6.396514,6.304128,6.845541,7.354405,7.505172,8.164452,8.481450,8.713262,8.754309,8.716936
35,Brazil,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),111398,112889,114648,117831,123960,...,46.905060,47.417625,47.263307,49.113723,47.006662,45.468551,43.620795,42.447843,41.841879,43.790389
36,China,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),657594,680411,693874,722877,742405,...,17.094610,15.349371,14.601997,13.911962,12.884310,11.695797,11.968567,11.838167,12.223823,12.413353
37,India,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),243053,250743,256593,258850,268983,...,47.443722,45.867804,43.632883,40.770828,39.481509,38.931740,38.390890,37.849841,36.651838,36.021223
38,Indonesia,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),79225,82080,85100,88923,93475,...,39.937048,39.969357,40.158753,38.970479,37.753420,38.225472,38.233657,38.106454,37.454268,36.879348
39,Morocco,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),5646,6113,6571,6527,7078,...,18.649164,16.969365,15.119020,14.756545,14.407859,12.351678,11.404994,12.050257,11.718587,11.317460
40,Singapore,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),5007,5154,4854,5021,5439,...,0.518119,0.503978,0.531736,0.478419,0.475165,0.469261,0.495200,0.555975,0.621625,0.708635
41,South Africa,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),51048,50293,47864,47702,49058,...,16.370397,15.811629,15.986590,15.570293,17.079802,16.978595,16.632885,16.097394,16.588162,17.150141
42,Thailand,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),28926,30701,33327,36069,40031,...,20.686938,21.611242,22.491086,22.657367,22.654878,22.755524,23.289820,22.943607,24.095726,22.863070
43,World,Total,Total final consumption (ktoe),11. Total,07. Total final consumption (ktoe),6267177,6333490,6311526,6349573,6383283,...,17.121261,16.908305,17.035029,17.511609,17.255192,17.209771,17.476237,17.699057,17.870184,18.053755